@font-face {
  font-family: 'norse-bold';
  src: url('./fonts/Norse-Bold.otf');
}

@font-face {
  font-family: 'ktf-roadbrush';
  src: url('./fonts/KTF-Roadbrush.ttf');
}

:root {
  height: 100%;
}

:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header {
  padding: 8px;
  text-align: center;
  font-family: 'norse-bold';
  background-color: #1F2C3B;
}

main {
  background-color: #0A1E3F;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: space-around;
  align-content: center;
  gap: 12px;
}

footer {
  padding: 8px;
  background-color: #1F2C3B;
}

footer p {
  font-size: 1rem;
  font-family: "ktf-roadbrush";
}

footer a {
  color: inherit;
  display: inline-flex;
  gap: 5px;
}

footer img {
  width: 1rem;
  height: 1rem;
}

main > div {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  box-shadow: 0 0 10px rgba(0, 105, 148, 0.6);
}

.cell {
  border: 1px solid;
  background-color: #006994;
  height: 30px;
}

dialog {
  border: none;
  border-radius: 5px;
  background-color: #1F2C3B;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);

}

fieldset {
  display: flex;
  gap: 8px;
  padding: 8px;
  border: none;
}

form, legend {
  text-align: center;
}

dialog * {
  font-family: 'ktf-roadbrush';
}

fieldset > p {
  display: flex;
  gap: 5px;
}

button {
  padding: 4px 8px;
  background-color: #006994;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

img {
  width: 25px;
  height: 25px;
}

input {
  outline: none;
  accent-color: #00A3CC;
}

.hide {
  display: none;
}

dialog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

button:hover {
  background-color: #00A3CC;
}