@font-face {
  font-family: 'ktf-roadbrush';
  src: url('./fonts/KTF-Roadbrush.ttf');
}

@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter-Regular.otf');
}

:root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 40px;
  background-color: #f5f5f5;
  align-content: space-between;
  min-width: 800px;
}

header {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: space-around;
  align-content: center;
  gap: 12px;
}

header, footer {
  padding: 8px;
}

footer > p, a {
  font-size: 1rem;
  font-family: "ktf-roadbrush";
}

footer a {
  color: inherit;
  display: inline-flex;
  gap: 5px;
}

footer img {
  width: 16px;
  height: 16px;
}

main > div {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cell {
  border-left: 1px solid #b5b5fb;
  border-top: 1px solid #b5b5fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell > img {
  width: 25px;
  height: 25px;
}

.cell:nth-child(10n) {
  border-right: 1px solid #b5b5fb;
}

.cell:nth-child(n + 91) {
  border-bottom: 1px solid #b5b5fb;
}

.cell.border-y {
  border-top: 3px solid #0404fc;
  border-bottom: 3px solid #0404fc;
  background-color: #f2f2fe;
}

.cell.border-left {
  border-left: 3px solid #0404fc;
}

.cell.border-right {
  border-right: 3px solid #0404fc;
}

header > h1 {
  font-family: 'ktf-roadbrush';
}

header > p {
  background-color: #eeeeee;
  width: 400px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  border-radius: 2px;;
  padding: 4px 4px;
  text-transform: capitalize;
}

.toggle-dropdown > button {
  background-color: #f5f5f5;
  display: flex;
  gap: 4px;
}

.dropdown-menu > button {
  background: none;
}

button:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.toggle-dropdown img {
  width: 12px;
  height: 12px;
  align-self: center;
}

.dropdown-menu > img {
  width: 10px;
  height: 10px;
  position: relative;
  bottom: 6px;
  align-self: center;
}

.hide {
  display: none;
}